<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div class="left" th:fragment="adminLeftFragment">
    <div class="left-con">
        <div class="top">
            <div class="title">
                <h1 class="logo">
                    <a th:href="@{#}"><img th:src="@{/images/logo.png}" alt=""> </a>
                </h1>
                <div class="profile">ADMIN</div>
            </div>
            <div class="left-menu">
                <ul>
                    <a th:href="@{#}">사원관리</a>
                    <li><a th:href="@{/commute/index}">근태</a></li>
                    <li><a th:href="@{#}">급여</a></li>
                    <li><a th:href="@{#}">사원정보</a></li>
                </ul>
                <ul>
                    <a th:href="@{#}">부서관리</a>
                    <li><a th:href="@{#}">부서</a></li>
                    <li><a th:href="@{/sign}">결재</a></li>
                </ul>
                <ul>
                    <a th:href="@{#}">게시판</a>
                    <li><a th:href="@{#}">공지사항</a></li>
                    <li><a th:href="@{#}">건의사항</a></li>
                    <li><a th:href="@{#}">칭찬합시다</a></li>
                </ul>
                <ul>
                    <li><a th:href="@{#}">회사일정</a></li>
                </ul>
                <ul>
                    <li><a th:href="@{#}">항공편</a></li>
                </ul>
            </div>
        </div>
        <div class="bottom">
            주소,저작권
        </div>
    </div>
</div>
<div class="right" th:fragment="adminRightFragment">
    <div class="right-con">
        <div class="top">
            <div class="gnb">
                <ul>
                    <li><a th:href="@{#}">m1@m1</a></li>
                    <li><a th:href="@{#}">로그인</a></li>
                    <li><a th:href="@{#}">회원가입</a></li>
                </ul>
            </div>
        </div>
        <div class="bottom">
            <div class="admin-data">
                data
            </div>
        </div>
    </div>
</div>
</html>