<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div class="right" th:fragment="adminRightFragment">
    <div class="right-con">
        <div class="top">
            <div class="gnb">
                <ul>
                    <th:block sec:authorize="hasAnyRole('ADMIN')">
                        <li class="main">
                            <a th:href="@{/admin}">admin</a>
                            <ul class="bar">
                                <li><a th:href="@{#}">member</a></li>
                                <li><a th:href="@{#}">shop</a></li>
                            </ul>
                        </li>
                    </th:block>
                    <th:block sec:authorize="isAnonymous()">
                        <li><a th:href="@{/}">로그인</a></li>
                        <li><a th:href="@{/member/memberJoin}">회원가입</a></li>
                    </th:block>
                    <th:block sec:authorize="isAuthenticated()">
                        <li><a th:href="@{/chat/{id}(id=${#authentication.principal.id})}">채팅</a></li>
                        <li><a th:href="@{/member/logout}">로그아웃</a></li>
                    </th:block>
                </ul>
            </div>
        </div>
    </div>
</div>
</html>