<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div class="left" th:fragment="adminLeftFragment">
    <div class="left-con">
        <div class="top">
            <div class="title">
                <h1 class="logo">
                    <a th:href="@{/member/memberList}"><img th:src="@{/images/logo.png}" alt="">
                        <p>GroupAir</p>
                    </a>
                </h1>
                <div class="weatherApi">
                    <h6 class="nowTime"></h6>
                    <div class="topWeather">
                        <h3 class="SeoulIcon"></h3>
                        <h5 class="nowWeather"></h5>
                    </div>
                    <h5 class="SeoulNowTemp"></h5>
                    <h5 class="SeoulTempRange"></h5>
                </div>
            </div>
            <div class="left-menu">
                <ul>
                    <li class="menuBar">
                        <img th:src="@{/images/pay.png}" alt="member">
                        <a th:href="@{/commute/index}">근태급여</a>
                        <ul class="subMenu">
                            <li><a th:href="@{/commute/index}">근태</a></li>
                            <li><a th:href="@{/salary/index}">급여</a></li>
                            <li><a th:href="@{#}">사원정보</a></li>
                        </ul>
                    </li>
                    <li class="menuBar">
                        <img th:src="@{/images/department.png}" alt="member">
                        <a th:href="@{#}">부서</a>
                        <ul class="subMenu">
                            <li><a th:href="@{/department/top/deList}">부서관리</a></li>
                        </ul>
                    </li>
                    <li class="menuBar">
                        <img th:src="@{/images/employee.png}" alt="member">
                        <a th:href="@{#}">사원관리</a>
                        <ul class="subMenu">
                            <li><a th:href="@{#}">부서</a></li>
                            <li><a th:href="@{/sign}">결재</a></li>
                            <li><a th:href="@{/member/memberJoin}">사원등록</a></li>
                        </ul>
                    </li>
                    <li class="menuBar">
                        <img th:src="@{/images/member.png}" alt="member">
                        <a th:href="@{#}">로그인</a>
                        <ul class="subMenu">
                            <li><a th:href="@{#}">부서</a></li>
                            <li><a th:href="@{#}">결재</a></li>
                        </ul>
                    </li>
                    <li class="menuBar">

                        <img th:src="@{/images/plane.png}" alt="member">
                        <a th:href="@{/airplane/index}">항공편</a>
                        <ul class="subMenu">
                            <li><a th:href="@{/airplane/index}">항공편 관리</a></li>
                            <li><a th:href="@{/airplane/pilot}">기장님 관리</a></li>
                        </ul>
                    </li>
                    <li class="menuBar">
                        <img th:src="@{/images/board.png}" alt="board">
                        <a th:href="@{/board/write}">게시판 작성</a>
                        <ul class="subMenu">
                            <li><a th:href="@{/board/Lists(boardSeparateId=1)}">공지사항</a></li>
                            <li><a th:href="@{/board/Lists(boardSeparateId=2)}">자유게시판</a></li>




                        </ul>
                    </li>

                </ul>
            </div>
        </div>
        <div class="bottom">
            주소,저작권
        </div>
    </div>
</div>
<div class="right" th:fragment="adminRightFragment">
    <div class="right-con">
        <div class="top">
            <div class="gnb">
                <ul>
                    <li><a th:href="@{#}">m1@m1</a></li>
                    <li><a th:href="@{#}">로그인</a></li>
                    <li><a th:href="@{#}">회원가입</a></li>
                </ul>
            </div>
        </div>
        <div class="bottom">
            <div class="admin-data">
                data
            </div>
        </div>
    </div>
</div>
</html>