.make {
    display: flex;
    align-items: center;
    min-height: calc(100vh - 230px);
}

.make .make-con {
    width: 100%;
    margin: 50px;
    display: flex;
    justify-content: center;
    gap: 100px;
}

table , td {
    border: 1px solid #000;
    width: 800px;
}

.make .make-con ul {
    padding: 10px;
}

.make .make-con .de_left .creation {
    display: flex;
    justify-content: space-around;
    margin: 10px 0px;
    height: 30px;
    align-items: center;
    box-sizing: border-box;
}

.make .make-con .de_left .creation>a {
    background-color: #96b3d9;
    padding: 5px;
    border-radius: 10px;
    color: #fff;
}

.make .make-con .de_left .creation>a:hover {
    background-color: #3767a6;
    transition: 1s;
}

.make .make-con .de_left h1 {
    text-align: center;
    background-color: #3767a6;
    border-radius: 40px;
}

.make .make-con .de_left h1 a {
    color: #fff;
}

.make .make-con .de_left ul a#topDe {
  font-weight: bold;
}

.make .make-con .de_left ul a#topDe li {
    background-color: #96b3d9;
    border-radius: 10px;
}

.make .make-con .de_left ul#lowDe a.selected {
    background-color: red;
}

.selected a {
    background-color: #96b3d9;
}

.make .make-con .de_left ul a li:hover {
    background-color: #eff6ff;
    border-radius: 5px;
}

.make .make-con .de_right{
    align-content: center;
}

.make .make-con .de_right ul {
    width: 500px;
    display: flex;
    justify-content: space-evenly;
}

.make .make-con .de_right ul li.low {
    border-bottom: 1px solid;
}

.make .make-con .de_right ul form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    gap: 5px;
}

.make .make-con .de_right ul form li {
    display: flex;
}

.make .make-con .de_right ul form .subDepartment {
    display: flex;
    width: 100%;
}

.make .make-con .de_right ul form label {
    width: 100px;
    text-align: center;
    align-items: center;
    background-color: #96b3d9;
    margin: 1px;
    font-size: 12px;
    align-content: center;
    border-radius: 2px 10px;
    height: 20px;
    color: #fff;
}

.make .make-con .de_right ul form input {
    width: 400px;
    flex: 3;
    margin: 5px;
}

.make .make-con .de_right ul form select {
    width: 100px;
    height: 20px;
    margin: 0 5px;
}

.make .make-con .de_right ul form li:last-child{
    display: flex;
    justify-content:space-between;
    align-items: center;
    font-size: 12px;
}

.make .make-con .de_right ul form li:last-child>input {
    background-color: #eff6ff;
    flex: 1;
    width: 30px;
    height: 20px;

    font-size: 12px;
    border: none;
}

.make .make-con .de_right ul form li:last-child>a{
    background-color: #eff6ff;
    width: 30px;
    height: 20px;
    flex: 1;
    align-content: center;
}

.make .make-con .de_right ul form li:last-child>input:hover {
    background-color: #3767a6;
    color: #fff;
    transition: 0.5s;
}

.make .make-con .de_right ul form li:last-child>a:hover {
    background-color: #3767a6;
    color: #fff;
    transition: 0.5s;
}

.de_left ul > li > a:visited {
    color: blue;
}

.make .make-con .de_left ul a#lowDe:visited {
}


.de_left .top {
    height: 500px;
    overflow-y: scroll;
}

.de_left .top {
  width: 200px;
  height: 400px;
  overflow-y: scroll; /*  */
}

.de_left .top::-webkit-scrollbar {
    width: 5px;
}

.de_left .top::-webkit-scrollbar-thumb {
    background: #324153;
    border-radius: 10px;
}

.de_left .top::-webkit-scrollbar-track {
    background:#eff6ff;
}

.highlighted-link {
    background-color: red; /* 원하는 배경색 */
    color: white; /* 원하는 글자색 */
    /* 기타 원하는 스타일 */
}