<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout/adminLayout}">
<th:block layout:fragment="title">
    <title>상위부서</title>
</th:block>
<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/topDepartment/topDepartmentLi.css}">
</th:block>
<th:block layout:fragment="script">
    <!--    <script th:src="@{#}"></script>-->
</th:block>
<th:block layout:fragment="adminContainer">
    <div class="adminContainer">
        <div class="make">
            <div class="make-con">
                <div class="de_left">
                    <h1>부서목록</h1>
                    <ul th:each="top : ${list}">
                        <li th:text="${top.topDepartmentName}"></li>
                        <ul th:each="de : ${top.departmentEntityList}">
                            <li th:text="${de.departmentName}"></li>
                        </ul>
                    </ul>
                </div>
                <div class="de_right">
                    <h2>부서 상세정보</h2>
                    <ul>
                        <form th:action="@{/topDepartment/write}" method="POST">
                            <li>
                                <label for="departmentName">부서명</label>
                                <input type="text" name="departmentName" id="departmentName">
                            </li>
                            <li>
                                <label for="topDepartmentName">상위부서</label>
                                <input type="text" name="topDepartmentName" id="topDepartmentName">
                            </li>
                            <li>
                                <input type="submit" value="생성">
                            </li>
                        </form>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</th:block>
</html>