<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout/adminLayout}">

<th:block layout:fragment="title">
  <!-- 각 페이지 마다 변경 -->
</th:block>
<th:block layout:fragment="css">
  <link rel="stylesheet" th:href="@{/css/board/boardsPage.css}">
  <!-- 각 페이지 마다 변경 -->
</th:block>
<th:block layout:fragment="script">
  <!-- 각 페이지 마다 변경 -->
</th:block>
<th:block layout:fragment="adminContainer">
  <div class="adminContainer">

    <div class="boardList">
      <div class="boardList-con">

        <h1 th:switch="${boardSeparateId}">
          <span th:case="1">공지사항</span>
          <span th:case="2">자유게시판</span>
          <span th:case="3">수다방</span>
          <span th:case="4">Q&A</span>


        </h1>

        <div class="search">
          <div th:if="${boardSeparateId == 1}">
            <form th:action="@{/board/Lists(boardSeparateId=1)}" method="get">
              <li><a th:href="@{/board/write}">글작성</a></li>
              <input type="hidden" name="boardSeparateId" value="1">
              <label for="subject1"></label>
              <select name="subject" id="subject1">
                <option value="title" th:selected="${#strings.equals(param.subject, 'title')}">제목</option>
                <option value="content" th:selected="${#strings.equals(param.subject, 'content')}">내용</option>
                <option value="nickName" th:selected="${#strings.equals(param.subject, 'nickName')}">닉네임</option>
              </select>
              <label for="search1"></label>
              <input type="text" name="search" id="search1" th:value="${param.search}">
              <input type="submit" value="검색">
            </form>
          </div>

          <div th:if="${boardSeparateId == 2}">
            <form th:action="@{/board/Lists(boardSeparateId=2)}" method="get">
              <input type="hidden" name="boardSeparateId" value="2">
              <li><a th:href="@{/board/write}">글작성</a></li>
              <label for="subject2"></label>
              <select name="subject" id="subject2">
                <option value="title" th:selected="${#strings.equals(param.subject, 'title')}">제목</option>
                <option value="content" th:selected="${#strings.equals(param.subject, 'content')}">내용</option>
                <option value="nickName" th:selected="${#strings.equals(param.subject, 'nickName')}">닉네임</option>
              </select>
              <label for="search2"></label>
              <input type="text" name="search" id="search2" th:value="${param.search}">
              <input type="submit" value="검색">
            </form>
          </div>
        </div>
        <table>
          <thead>
          <tr>
            <th>ID</th>
            <th>title</th>
            <th>작성자</th>
            <th>내용</th>
            <th>조회수</th>
            <th>작성일</th>
            <th>updateTime</th>
            <th>보기</th> <!-- 게시글 상세보기 -->
            <th>삭제</th>
            <th>파일</th>
          </tr>
          </thead>
          <tbody>
          <tr th:each="board : ${boards}">
            <td th:text="${board.id}"></td>
            <td th:text="${board.boardSeparateId}"></td>

<!--            <p>게시판 구분 ID: <span th:text="${boardSeparateId}"></span></p>-->
<!--            <span th:text="${board.boardSeparateEntity.name}">Board Separate Name</span>-->
            <td th:text="${board.title}"></td>
            <td th:text="${board.writer}"></td>
            <td th:text="${board.content}"></td>
            <td th:text="${board.hit}"></td>
            <td th:text="${#temporals.format(board.createTime, 'yyyy-MM-dd HH:mm:ss')}"></td>

            <td th:text="${#temporals.format(board.updateTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
            <td><a th:href="@{/board/detail/{id}(id=${board.id})}">보기</a></td><!-- 게시글 상세보기 -->
            <td><a th:href="@{/board/delete/{id}(id=${board.id})}">삭제</a></td>

            <th:block th:if="${board.boardAttachFile==1}">
              <td>O</td>
            </th:block>
            <th:block th:unless="${board.boardAttachFile==1}">
              <td>X</td>
            </th:block>
          </tr>
          </tbody>
        </table>
    <div class="paging">
          <ul>
            <li>
<!--              <!- 현재페이지가  첫번째 페이지이면   span표시 &ndash;&gt;-->
              <span th:if="${pagingList.pageable.pageNumber+1 eq 1}" class="span0">START</span>
              <!-- 처음 페이지가 아니면  a -->
              <span th:unless="${pagingList.pageable.pageNumber+1 eq 1}">
<!--              <a th:href="@{/board/Lists?boardSeparateId=1(page=0)}" class="span1">처음</a>-->

                              <!-- boardSeparateId=1일 때만 보이게 하기 -->
              <div th:if="${boardSeparateId == 1}">

                  <a th:href="@{/board/Lists?boardSeparateId=1(page=0)}" class="span1">처음 </a>
              </div>
                              <!-- boardSeparateId=2일 때만 보이게 하기 -->
              <div th:if="${boardSeparateId == 2}">
                  <a th:href="@{/board/Lists?boardSeparateId=2(page=0)}" class="span1">처음 </a>
              </div>


            </span>
            </li>

            <li>
              <!-- 이전페이지가  첫번째 페이지이면   span표시 -->
              <span th:if="${1==pagingList.pageable.pageNumber+1}" class="span0">PRE</span>
              <span th:unless="${1==pagingList.pageable.pageNumber+1}">
            <!--boardList.pageable.pageNumber 현재페이지 -1 -->

            <a th:if="${boardSeparateId == 1}"
                th:href="@{/board/Lists?boardSeparateId=1(page=${pagingList.pageable.pageNumber-1})}" class="span1">이전</a>


            <a th:if="${boardSeparateId == 2}"
               th:href="@{/board/Lists?boardSeparateId=2(page=${pagingList.pageable.pageNumber-1})}" class="span1">이전</a>


          </span>

            </li>
            <!-- block  -->
            <!-- 페이지 번호 -->
<!--        <li th:each="i: ${#numbers.sequence(startPage, endPage)}" class="block">-->
<!--          <span th:if="${i == pagingList.pageable.pageNumber + 1}" th:text="${i}" class="now"></span>-->

<!--          <a th:if="${boardSeparateId == 1}"-->
<!--             th:href="@{/board/Lists(boardSeparateId=1, page=${i - 1})}"-->
<!--             th:text="${i}"></a>-->

<!--          <a th:if="${boardSeparateId == 2}"-->
<!--             th:href="@{/board/Lists(boardSeparateId=2, page=${i - 1})}"-->
<!--             th:text="${i}"></a>-->
<!--        </li>-->

        <li th:each="i: ${#numbers.sequence(startPage, endPage)}" class="block">

            <div th:if = "${boardSeparateId == 1}">
              <span th:if="${i == pagingList.pageable.pageNumber+1}" th:text="${i}" class="now"></span>
              <a th:unless="${i == pagingList.pageable.pageNumber+1}"
                      th:href="@{/board/Lists?boardSeparateId=1(page=${ i - 1})}" th:text="${i}"></a>
            </div>

            <div th:if = "${boardSeparateId == 2}">
              <span th:if="${i == pagingList.pageable.pageNumber+1}" th:text="${i}" class="now"></span>
              <a th:unless="${i == pagingList.pageable.pageNumber+1}"
                 th:href="@{/board/Lists?boardSeparateId=2(page=${ i - 1})}" th:text="${i}"></a>
            </div>

            </li>


            <li>
              <!-- 현재페이지가 마지막 페이지이면   span표시 -->
              <span th:if="${pagingList.totalPages ==pagingList.pageable.pageNumber+1}" class="span0">NEXT</span>
              <!-- 현재페이지가 마지막 페이지아니면    a 표시 현재페이지 +1 -->
              <span th:unless="${pagingList.totalPages ==pagingList.pageable.pageNumber+1}">

               <a th:if="${boardSeparateId == 1}"
                  th:href="@{/board/Lists?boardSeparateId=1(page=${pagingList.pageable.pageNumber + 1})}"
                  class="span1">다음 </a>

                <!-- boardSeparateId가 2일 때만 보이게 하기 -->
            <a th:if="${boardSeparateId == 2}"
               th:href="@{/board/Lists?boardSeparateId=2(page=${pagingList.pageable.pageNumber + 1})}"
               class="span1">다음 </a>

          </span>
            </li>
            <li>
              <!-- 현재페이지가 마지막 페이지이면   span표시 -->
              <span th:if="${pagingList.totalPages ==pagingList.pageable.pageNumber+1}" class="span0">END</span>
              <!-- 현재페이지가 마지막 페이지가 아니면 마지막 페이지로 이동 해라  a -->
              <span th:unless="${pagingList.totalPages ==pagingList.pageable.pageNumber+1}">

            <a  th:if="${boardSeparateId == 1}"
                th:href="@{/board/Lists?boardSeparateId=1(page=${pagingList.totalPages-1})}" class="span1">마지막</a>

                <a  th:if="${boardSeparateId == 2}"
                    th:href="@{/board/Lists?boardSeparateId=2(page=${pagingList.totalPages-1})}" class="span1">마지막</a>





          </span>
            </li>
          </ul>
        </div>

      </div>


  </div>
  </div>
</th:block>
</html>