<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout/adminLayout}">

<th:block layout:fragment="title">
  <!-- 각 페이지 마다 변경 -->
</th:block>
<th:block layout:fragment="css">
  <!-- 각 페이지 마다 변경 -->
</th:block>
<th:block layout:fragment="script">
  <!-- 각 페이지 마다 변경 -->
</th:block>

<th:block layout:fragment="adminContainer">
  <div class="adminContainer">
    <div class="write">
      <div class="write-con">

        <form th:action="@{/board/write}" method="post" enctype="multipart/form-data"
              th:object="${boardDto}">
          <ul>
            <li>
              글작성
            </li>
            <li>
              <label for="memberId">카테고리 선택</label>
<!--              <input type="hidden" name="memberId"-->
<!--                     id="memberId" th:value="${memberId}" readonly>-->
              <select name="memberId" id="memberId">
                <option value="1">승무원</option>
                <option value="2">기장</option>
                <option value="3">3</option>
                <option value="4">4</option>
              </select>

            </li>

            <li>
              <label for="title">제목</label>
              <input type="text" name="title" id="title">
            </li>

            <li>
              <label for="writer">작성자</label>
              <input type="text" name="writer" id="writer">
            </li>

            <li>
              <textarea name="content" id="content" cols="30" rows="10"></textarea>
            </li>

            <li>
              <label for="boardFile"></label>
              <input type="file" name="boardFile" id="boardFile">
            </li>

            <li>
              <input type="submit" value="등록">
            </li>
          </ul>
        </form>





      </div>
    </div>
  </div>
</th:block>
</html>