<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout/adminLayout}">

<th:block layout:fragment="title">
  <!-- 각 페이지 마다 변경 -->
</th:block>
<th:block layout:fragment="css">
  <!-- 각 페이지 마다 변경 -->
</th:block>
<th:block layout:fragment="script">
  <!-- 각 페이지 마다 변경 -->
</th:block>

<th:block layout:fragment="adminContainer">
  <div class="adminContainer">
    <div class="write">
      <div class="write-con">

        <form th:action="@{/board/write}" method="post" enctype="multipart/form-data"
              th:object="${boardDto}">
          <ul>
            <li>
              Board Write
            </li>
            <li>
              <label for="memberId">MEMBERID</label>
              <input type="text" name="memberId"
                     id="memberId" th:value="${memberId}" readonly>
            </li>




            <li>
              <input type="submit" value="BoarDWriteOk">
            </li>
          </ul>
        </form>





      </div>
    </div>
  </div>
</th:block>
</html>