<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout/adminLayout}">
<th:block layout:fragment="title">
    <!-- 각 페이지 마다 변경 -->
    <title>memberJoin</title>
</th:block>
<th:block layout:fragment="css">
    <!-- 각 페이지 마다 변경 -->
    <link rel="stylesheet" th:href="@{/css/member/memberJoin.css}">
</th:block>
<th:block layout:fragment="script">
    <!-- 각 페이지 마다 변경 -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js" defer></script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script th:src="@{/js/member/member.js}" defer></script>
    <script th:src="@{/js/member/address.js}" defer></script>
    <script th:src="@{/js/member/department.js}" defer></script>
</th:block>
<th:block layout:fragment="adminContainer">
    <div class="adminContainer">
        <div class="memberJoin">
            <div class="memberJoin-con">
                <h1>회원등록</h1>
                <div class="memberJoin1" id="memberJoin1">
                    <form th:action="@{/member/memberJoin}" method="post" th:object="${memberDto}"
                          enctype="multipart/form-data">
                        <ul>
                            <li>
                                <label for="userEmail">이 메 일</label>
                            </li>
                            <li>
                                <input type="email" id="userEmail" th:field="*{userEmail}" placeholder="이 메 일"> <br>
                            </li>
                            <p th:if="${#fields.hasErrors('userEmail')}" th:errors="*{userEmail}" class="error"></p>

                            <li>
                                <label for="userPw">비 밀 번 호</label>
                                <div id="ShowPw" class="ShowPw">
                                    <img th:src="@{/images/eye.png}" alt="이미지대체문구" height="24px">
                                </div>
                            </li>
                            <li>
                                <input type="password" id="userPw" th:field="*{userPw}" placeholder="비 밀 번 호">
                            </li>
                            <p th:if="${#fields.hasErrors('userPw')}" th:errors="*{userPw}" class="error"></p>


                            <li>
                                <label for="memberName">이 름</label>
                            </li>
                            <li>
                                <input type="text" id="memberName" th:field="*{name}" placeholder="이 름"> <br>
                            </li>
                            <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="error"></p>

                            <li>
                                <label for="employeeDate">입사일</label>
                            </li>
                            <li>
                                <input type="date" id="employeeDate" th:field="*{employeeDate}">
                            </li>
                            <p th:if="${#fields.hasErrors('employeeDate')}" th:errors="*{employeeDate}"
                               class="error"></p>

                            <li>
                                <label for="role">권한</label>
                            </li>
                            <li>
                                <select name="role" id="role">
                                    <option value="MEMBER">member</option>
                                    <option value="MANAGER">manager</option>
                                    <option value="ADMIN">admin</option>
                                </select>

                            </li>
                            <p th:if="${#fields.hasErrors('role')}" th:errors="*{role}" class="error"></p>
                            <li>
                                <label for="topDepartmentSelect">상위 부서</label>
                            </li>
                            <li>
                                <select name="departmentEntity.topDepartmentEntity" id="topDepartmentSelect">
                                    <option value="">상위 부서를 선택하세요</option>
                                    <th:block th:each="topDepartment : ${list}">
                                        <option th:value="${topDepartment.id}"
                                                th:utext="${topDepartment.topDepartmentName}"
                                                th:attr="data-department-list=${topDepartment.departmentEntityList}"></option>
                                    </th:block>
                                </select>
                            </li>

                            <li>
                                <label for="departmentSelect">부서</label>
                            </li>
                            <li>
                                <!--                                <select name="departmentEntity" id="departmentEntity">
                                                                    <option value="">부서를 선택하세요</option>
                                                                    <th:block th:each="topDepartment : ${list}">
                                                                        <th:block th:each="department : ${topDepartment.departmentEntityList}">
                                                                            <option th:value="${department.id}"
                                                                                    th:utext="${department.departmentName}">
                                                                            </option>
                                                                        </th:block>
                                                                    </th:block>
                                                                </select>-->
                                <select name="departmentEntity" id="departmentSelect">
                                    <option value="">부서를 선택하세요</option>
                                </select>
                            </li>
                            <li>
                                <label for="positionEntity.positionName">직급</label>
                            </li>
                            <li>
                                <select name="positionEntity.positionName" id="positionEntity.positionName">
                                    <option value="사원">사원</option>
                                    <option value="부장">부장</option>
                                    <option value="대표이사">대표이사</option>
                                </select>
                            </li>
                            <p th:if="${#fields.hasErrors('positionEntity.positionName')}"
                               th:errors="*{positionEntity.positionName}"
                               class="error"></p>


                            <li>
                                <label for="address">주 소</label>
                            </li>
                            <li>
                                <input type="text" id="sample6_postcode" placeholder="우편번호">
                                <input type="button" onclick="sample6_execDaumPostcode()" value="우편번호 찾기"><br>
                                <input type="text" id="sample6_address" placeholder="주소"><br>
                                <input type="text" id="sample6_detailAddress" placeholder="상세주소">
                                <input type="hidden" id="address" placeholder="결합된 주소" th:field="*{address}">
                            </li>
                            <li>
                                <label for="phone">전 화 번 호</label>
                            </li>
                            <li>
                                <input type="tel" id="phone" pattern="[0-9]{2,3}-[0-9]{3,4}-[0-9]{4}" maxlength="13"
                                       th:field="*{phone}" placeholder="전화번호"> <br>
                            </li>


                            <li class="file">
                                <label for="memberFile">사 진 첨 부</label>
                                <input type="file" name="memberFile" id="memberFile">
                            </li>

                            <li>
                                <input type="submit" value="회원등록">
                            </li>
                        </ul>
                    </form>
                </div>

            </div>
        </div>
    </div>
</th:block>
</html>