<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout/adminLayout}">
<th:block layout:fragment="title">
    <!-- 각 페이지 마다 변경 -->
    <title>memberDetailUpdate</title>
</th:block>
<th:block layout:fragment="css">
    <!-- 각 페이지 마다 변경 -->
</th:block>
<th:block layout:fragment="script">
    <!-- 각 페이지 마다 변경 -->
</th:block>
<th:block layout:fragment="adminContainer">
    <div class="adminContainer">
        <div class="memberDetail"  id="memberDetail">
            <div class="detail-form">
                <h3>회원수정</h3>
                <form th:action="@{/member/memberDetailUpdate}" method="post" enctype="multipart/form-data">

                <ul>
                    <li>
                        <label for="id">id</label>
                        <input type="text" name="id"  id="id"  th:value="${memberDto.id}" readonly>
                    </li>
                    <li>
                        <label for="userPw">userPw</label>
                        <input type="text" name="userPw"  id="userPw" th:value="${memberDto.userPw}" readonly>
                    </li>
                    <li>
                        <label for="userEmail">userEmail</label>
                        <input type="email" name="userEmail"  id="userEmail" th:value="${memberDto.userEmail}">
                    </li>
                    <li>
                        <label for="role">role</label>
                        <input type="text" name="role"  id="role" th:value="${memberDto.role}" >
                    </li>
                    <li>
                        <label for="address">address</label>
                        <input type="text" name="address"  id="address" th:value="${memberDto.address}">
                    </li>
                    <li>
                        <label for="phone">phone</label>
                        <input type="tel" name="phone" id="phone" th:value="${memberDto.phone}">
                    </li>
                    <li>
                        <label for="employeeDate">employeeDate</label>
                        <input type="text" name="employeeDate"  id="employeeDate" th:value="${memberDto.employeeDate}">
                    </li>
                    <li>
                        <label for="resignationDate">resignationDate</label>
                        <input type="text" name="resignationDate"  id="resignationDate" th:value="${memberDto.resignationDate}">
                    </li>
                    <li>
                        <input type="submit" value="수정">

                    </li>

                </ul>
                </form>

            </div>
        </div>
        

    </div>
</th:block>
</html>