<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout/adminLayout}">
<th:block layout:fragment="title">
    <!-- 각 페이지 마다 변경 -->
    <title>memberList</title>
</th:block>
<th:block layout:fragment="css">
    <!-- 각 페이지 마다 변경 -->
</th:block>
<th:block layout:fragment="script">
    <!-- 각 페이지 마다 변경 -->
</th:block>
<th:block layout:fragment="adminContainer">
    <div class="adminContainer">
        <div class="search">
            <form th:action="@{/member/memberList}" method="get">
                <select name="subject" id="subject">
                    <option value="" th:selected="${#strings.isEmpty(param.subject)}"> ::선택:: </option>
                    <option value="userName" th:selected="${#strings.equals(param.subject, 'name')}">이름</option>
                </select>
                <input type="text" name="search" id="search" th:value="${param.search}">
                <input type="submit" value="SEARCH">
            </form>
        </div>
        <div class="memberList">
            <div class="memberList-con">
                <h1>회원조회</h1>
                <table>
                    <thead>
                    <tr>
                        <th>번호</th>
                        <th>이름</th>
                        <th>부서</th>
                        <th>직급</th>
                        <th>권한</th>
                        <th>이메일</th>
                        <th>전화번호</th>
                        <th>입사일</th>
                        <th>퇴사일</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="member : ${memberList}">
                        <td th:text="${member.id}"></td>
                        <td th:text="${member.name}"></td>
                        <td th:text="${member.departmentEntity.departmentName}"></td>
                        <td th:text="${member.positionEntity.positionName}"></td>
                        <td th:text="${member.role}"></td>
                        <td th:text="${member.phone}"></td>
                        <td th:text="${member.userEmail}"></td>
                        <td th:text="${member.employeeDate}"></td>
                        <td th:text="${member.resignationDate}"></td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="4">
                            <div class="paging">
                                <ul>
                                    <li>
                                        <span th:if="${memberList.pageable.pageNumber+1 eq 1}" class="span0"> START </span>
                                        <span th:unless="${memberList.pageable.pageNumber+1 eq 1}">
                                            <a th:href="@{/member/memberList(page=0,search=${param.search},
                                                subject = ${param.subejct})}"
                                               class="span1"> << </a>
                                        </span>
                                    </li>
                                    <li>
                                        <span th:if="${memberList.pageable.pageNumber+1 eq 1}" class="span0">PRE</span>
                                        <span th:unless="${memberList.pageable.pageNumber+1 eq 1}">
                                            <a th:href="@{/member/memberList(page=${memberList.pageable.pageNumber-1}
                                            ,search = ${param.search}, subject = ${param.subject})}"
                                               class="span1">이전</a>
                                    </span>
                                    </li>

                                    <li th:each="i : ${#numbers.sequence(startPage, endPage)}" class="block">
                                    <span th:if="${memberList.pageable.pageNumber +1 == i}" th:text="${i}"
                                          class="now"></span>
                                        <a th:unless="${memberList.pageable.pageNumber+1 == i}"
                                           th:href="@{/member/memberList(page=${i-1}
                                    ,search=${param.search}, subject=${param.subject})}" th:text="${i}"></a>
                                    </li>

                                    <li>
                                <span th:if="${memberList.totalPages == memberList.pageable.pageNumber+1}"
                                      class="span0">NEXT</span>
                                        <span th:unless="${memberList.totalPages == memberList.pageable.pageNumber+1}">
                                    <a th:href="@{/member/memberList(page=${memberDtoPage.pageable.pageNumber+1}
                                    ,search=${param.search},subject=${param.subject})}" class="span1">다음</a>
                                </span>
                                    </li>
                                    <li>
                                    <span th:if="${memberList.totalPages == memberList.pageable.pageNumber+1}" class="span0">
                                        END
                                    </span>
                                        <span th:unless="${memberList.totalPages == memberList.pageable.pageNumber+1}">
                                        <a th:href="@{/member/memberList(page=${memberDtoPage.totalPages-1}
                                        ,search=${param.search}, subject=${param.subject})}" class="span1">
                                            마지막
                                        </a>
                                    </span>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
        

    </div>
</th:block>
</html>