<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout/adminLayout}">

<th:block layout:fragment="title">
    결재상세
</th:block>
<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/sign/detail.css}">
</th:block>
<th:block layout:fragment="script">

</th:block>

<th:block layout:fragment="adminContainer">

    <div class="adminContainer">
        <div class="detail">
            <div class="detail-con">
                <h1>결재상세</h1>
                <form th:action="@{/sign/detail}" method="post" enctype="multipart/form-data">

                    <table>
                        <tbody>
                        <tr>
                            <th>번호</th>
                            <td th:text="${sign.id}"></td>
                        </tr>
                        <tr>
                            <th>기안자</th>
                            <td th:text="${sign.approve}"></td>
                        </tr>
                        <tr>
                            <th>부서명</th>
                            <td th:text="${sign.deptName}"></td>
                        </tr>
                        <tr>
                            <th>직급</th>
                            <td th:text="${sign.level}"></td>
                        </tr>


                        <tr>
                            <th>제목</th>
                            <td th:text="${sign.title}"></td>
                        </tr>
                        <tr>
                            <th>내용</th>
                            <td th:text="${sign.content}"></td>
                        </tr>

                        <tr>
                            <th>중간승인자</th>
                            <td th:text="${sign.midApprover}"></td>
                        </tr>
                        <tr>
                            <th>최종승인자</th>
                            <td th:text="${sign.lastApprover}"></td>
                        </tr>











                        <th>첨부파일</th>
                        <td th:if="${sign.signAttachFile == 1}">
<!--                            <a th:href="@{/file/download/{id}(id=${sign.id})}" th:text="${sign.fileName}">-->
                                <img th:src="@{|/upload/${sign.signNewFile}|}" alt="">
<!--                            </a>-->
                        </td>
                        <td th:unless="${sign.signAttachFile == 1}">첨부된 파일이 없습니다.</td>


<!--                        <th>첨부파일</th>-->
<!--                        <td>-->
<!--                            &lt;!&ndash; 첨부 파일이 있는 경우 &ndash;&gt;-->
<!--                            <th:block th:if="${sign.signAttachFile == 1}">-->
<!--                                <img th:src="@{|/upload/${sign.signNewFile}|}" alt="">-->
<!--                            </th:block>-->
<!--                            &lt;!&ndash; 첨부 파일이 없는 경우 &ndash;&gt;-->
<!--                            <th:block th:unless="${sign.signAttachFile == 1}">첨부된 파일이 없습니다.</th:block>-->
<!--                        </td>-->
<!--                        </tr>-->



                        <tr>
                            <th>작성시간</th>
                            <td th:text="${#temporals.format(sign.createTime, 'yy-MM-dd HH:mm:ss')}"></td>
                        </tr>
                        <tr>
                            <th>수정시간</th>
                            <td th:text="${#temporals.format(sign.updateTime, 'yy-MM-dd HH:mm:ss')}"></td>
                        </tr>
                        <tr>
                            <th>반려사유</th>
                            <td><textarea name="text" id="text" rows="4" cols="40" style="resize: none;"
                                          spellcheck="false"></textarea></td>
                        </tr>
                        <tr>
                            <td><input type="submit" value="확인"></td>
                            <td><input type="reset" value="취소"></td>
                        </tr>


                        <!--                        <th:block th:if="${sign.signAttachFile==1}">-->
                        <!--                            <a th:href="@{/file/download/{id}(id=${sign.id})}" th:text="${sign.fileName}"></a>-->

                        <!--                        </th:block>-->


                        </tbody>
                    </table>


                </form>
            </div>
        </div>

    </div>
    </div>
    </div>
</th:block>
</html>