<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout/adminLayout}">

<th:block layout:fragment="title">
    <h1>결재작성</h1>
</th:block>
<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/sign/write.css}">
</th:block>
<th:block layout:fragment="script">
</th:block>

<th:block layout:fragment="adminContainer">
    <div class="adminContainer">
        <div class="write">
            <div class="write-con">
                <form th:action="@{/sign/write}" method="POST" th:object="${signDto}" enctype="multipart/form-data">
                    <table class="approval-form">
                        <tr>
                            <th colspan="2">품의서</th>
                        </tr>
                        <tr>
                            <td rowspan="2">&nbsp;</td>
                            <td>번호</td>
                            <td th:text="${sign.id}"></td>
                        </tr>
                        <tr>
                            <td>기안자</td>
                            <td th:text="${sign.approve}"></td>
                        </tr>
                        <tr>
                            <td>부서명</td>
                            <td th:text="${sign.deptName}"></td>
                        </tr>
                        <tr>
                            <td>직급</td>
                            <td th:text="${sign.level}"></td>
                        </tr>
                        <tr>
                            <td colspan="4">제목 <td th:text="${sign.title}"></td></td>
                        </tr>
                        <tr>
                            <td colspan="4">내용 <td th:text="${sign.content}"></td></td>
                        </tr>
<!--                        <tr>-->
<!--                            <td colspan="4">중간승인자</td>-->
<!--                            <td th:text="${sign.midApprover}"></td>-->
<!--                        </tr>-->
                        <tr>
                            <td colspan="4">최종승인자</td>
                            <td th:text="${sign.lastApprover}"></td>
                        </tr>
                        <tr>
                            <td colspan="4">첨부파일</td>
                            <td th:if="${sign.signAttachFile == 1}">
                                <img th:src="@{|/upload/${sign.signNewFile}|}" alt="">
                            </td>
                            <td th:unless="${sign.signAttachFile == 1}">첨부된 파일이 없습니다.</td>
                        </tr>
                        <tr>
                            <td colspan="4">작성시간</td>
                            <td th:text="${#temporals.format(sign.createTime, 'yy-MM-dd HH:mm:ss')}"></td>
                        </tr>
                        <tr>
                            <td colspan="4">수정시간</td>
                            <td th:text="${#temporals.format(sign.updateTime, 'yy-MM-dd HH:mm:ss')}"></td>
                        </tr>
                        <tr>
                            <td colspan="4">반려사유 <td th:text="${sign.rejectReason}"></td></textarea></td>
                        </tr>

                        <tr>
                            <td colspan="4">

                            </td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
    </div>
</th:block>
</html>
