<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout/adminLayout}">

<th:block layout:fragment="title">
   <h1>결재확인함</h1>
</th:block>
<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/sign/signOk.css}">
</th:block>
<th:block layout:fragment="script">
    <!-- 각 페이지 마다 변경 -->
</th:block>

<th:block layout:fragment="adminContainer">
    <div class="adminContainer">
        <div class="signOk">
            <div class="signOk-con">
                <!-- subContent(승인,반력) 리스트  -->



            </div>
        </div>





            </div>
        </div>
    </div>
</th:block>
</html>