<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout/adminLayout}">
<th:block layout:fragment="title">
    <title>상위부서</title>
</th:block>
<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{#}">
</th:block>
<th:block layout:fragment="script">
    <script th:src="@{#}"></script>
</th:block>
<th:block layout:fragment="adminContainer">
    <div class="adminContainer">
        <div class="make">
            <div class="make-con">
                <h1>부서생성</h1>
                <ul>

                    <form action="" method="post">
                        <li>
                            부서명: <input type="text" name="topDepartmentName" id="topDepartmentName">
                        </li>
                    </form>
                </ul>
            </div>
        </div>
    </div>
</th:block>
</html>