<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout/adminLayout}">
<th:block layout:fragment="title">
    <!-- 각 페이지 마다 변경 -->
    <title>vacationCreate</title>
</th:block>
<th:block layout:fragment="css">
    <!-- 각 페이지 마다 변경 -->
    <link rel="stylesheet" th:href="@{/css/airplane/detail.css}">
</th:block>
<th:block layout:fragment="script">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js" defer></script>
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=b3a5eccd39d930692dcff3137053080b&libraries=services"></script>
<!--    <script th:src="@{/js/airplane/detail.js}" defer></script>-->
    <!-- 각 페이지 마다 변경 -->
</th:block>
<th:block layout:fragment="adminContainer">
    <div class="adminContainer">
        <div class="airplaneDetail">
            <div class="airplaneDetail-con">
                <h1>[[${airplaneDto.id}]]번 비행기 정보</h1>
                <form th:action="@{/airplane/delete/{id}(id=${airplaneDto.id})}" method="post">
                    <ul>
<!--                        <li>-->
<!--                            <label for="id">비행기 번호</label>-->
<!--                            <input type="text" id="id" name="id" th:value="${airplaneDto.id}">-->
<!--                        </li>-->

                        <li>
                            <label for="toTime">출 발 시 간 : </label>
                            <input type="text" id="toTime" name="toTime" th:value="${#temporals.format(airplaneDto.toTime, 'MM월 dd일 HH시 mm분 ss초')}">

                            <label for="fromTime">도 착 시 간 : </label>
                            <input type="text" id="fromTime" name="fromTime" th:value="${#temporals.format(airplaneDto.fromTime, 'MM월 dd일 HH시 mm분 ss초')}">
                        </li>
                    </ul>
                    <div id="map"  style="width:100%;height:350px;"></div>

                    <script>
                        var mapContainer = document.getElementById('map'), // 지도를 표시할 div
                            mapOption = {
                                center: new kakao.maps.LatLng(36.5, 127.5), // 지도의 중심좌표
                                level: 18 // 지도의 확대 레벨
                            };

                        var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다

                        var geocoder = new kakao.maps.services.Geocoder();

                        var toArea, fromArea;

                        geocoder.addressSearch('[[${airplaneDto.toArea}]]', function(result, status) {
                            if (status === kakao.maps.services.Status.OK) {
                                toArea = new kakao.maps.LatLng(result[0].y, result[0].x);
                                if (fromArea) {
                                    drawLine();
                                }
                                var customOverlay = new kakao.maps.CustomOverlay({
                                    map: map,
                                    position: toArea,
                                    content: '<div class="custom-marker">출발지</div>',
                                    yAnchor: 1
                                });
                            }
                        });

                        geocoder.addressSearch('[[${airplaneDto.fromArea}]]', function(result, status) {
                            if (status === kakao.maps.services.Status.OK) {
                                fromArea = new kakao.maps.LatLng(result[0].y, result[0].x);
                                if (toArea) {
                                    drawLine();
                                }
                                var customOverlay = new kakao.maps.CustomOverlay({
                                    map: map,
                                    position: fromArea,
                                    content: '<div class="custom-marker">도착지</div>',
                                    yAnchor: 1
                                });
                            }
                        });

                        function drawLine() {
                            var linePath = [
                                toArea,
                                fromArea
                            ];

                            var polyline = new kakao.maps.Polyline({
                                path: linePath, // 선을 구성하는 좌표배열입니다
                                strokeWeight: 5, // 선의 두께입니다
                                strokeColor: 'red', // 선의 색깔입니다
                                strokeOpacity: 0.8, // 선의 불투명도입니다 1에서 0 사이의 값이며 0에 가까울수록 투명합니다
                                strokeStyle: 'dot' // 선의 스타일입니다
                            });

                            polyline.setMap(map);

                            var distance = Math.round(polyline.getLength() / 1000) + 'km'; // 선의 총 거리를 계산합니다

                            var midPoint = new kakao.maps.LatLng(
                                (toArea.getLat() + fromArea.getLat()) / 2,
                                (toArea.getLng() + fromArea.getLng()) / 2
                            );

                            map.setCenter(midPoint);

                            var customOverlay = new kakao.maps.CustomOverlay({
                                position: midPoint,
                                content: '<div class="infowindow">거리: ' + distance + '</div>'
                            });

                            customOverlay.setMap(map);
                        }
                        map.setDraggable(false);
                        map.setZoomable(false);
                    </script>
                </form>
            </div>
        </div>
    </div>
</th:block>
</html>