<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout/adminLayout}">
<th:block layout:fragment="title">
    <!-- 각 페이지 마다 변경 -->
    <title>vacation</title>
</th:block>
<th:block layout:fragment="css">
    <!-- 각 페이지 마다 변경 -->
</th:block>
<th:block layout:fragment="script">
    <!-- 각 페이지 마다 변경 -->
</th:block>
<th:block layout:fragment="adminContainer">
    <div class="adminContainer">
        <div class="vacation">
            <div class="vacation">
                휴가중인 직원
            </div>
        </div>
    </div>
</th:block>
</html>