<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/index.css}">
</head>
<title>index</title>
<body>
<div class="login">
    <div class="login-con">
        <div class="logo">
            <a th:href="@{/}">
                <img th:src="@{/images/logo.png}" alt="logo">
            </a>
        </div>
        <h1 class="title">로그인</h1>
        <form th:action="@{/memberLogin}" method="post">
            <ul>
                <li>
                    <label for="userEmail">Email</label>
                    <input type="email" name="userEmail" id="userEmail" placeholder="이메일를 입력하세요"> <br>
                </li>
                <li>
                    <label for="userPw">Pw</label>
                    <input type="text" name="userPw" id="userPw" placeholder="비밀번호를 입력하세요"> <br>
                </li>

                <li class="loginBtn">
                    <input type="reset" value="초기화">
                    <input type="submit" value="로그인">
                </li>
            </ul>
        </form>
        <div class="sns">
            <a th:href="@{/oauth2/authorization/google}"><img th:src="@{/images/google.png}" alt="google"></a>
            <a th:href="@{/oauth2/authorization/kakao}"><img th:src="@{/images/kakao.png}" alt="kakao"></a>
            <a th:href="@{/oauth2/authorization/naver}"><img th:src="@{/images/naver.png}" alt="naver"></a>
        </div>
    </div>

</div>

</body>

</html>