.adminContainer .commute{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 100px;
}




.sign-con h1{
text-align: center
}

.sign-con div {
   text-align: center;
    margin: 30px 0;
}

.sign-con a {
    display: inline-block;
    width: 299px;
    height: 30px;
    line-height: 30px; /* Vertically center the text */
    border-radius: 10px; /* Round corners */
    border: 1px solid;
    font-size:25px;
    color: white;
    background: #96b3d9;
    padding:10px 20px
  /*  box-shadow: 5px 5px 10px  #3c4857, -5px -5px 10px #f0ffff;*/
}

.sign-con a:hover{
background-color: #0056b3;

}

