<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:replace="~{/common/head :: headFragment}"></head>
<link rel="stylesheet" th:href="@{/css/common/admin.css}">
<link rel="stylesheet" th:href="@{/css/chatbot/chat-bot.css}">
<!-- chat bot-->
<script th:src="@{/webjars/sockjs-client/sockjs.min.js}"></script>
<script th:src="@{/webjars/stomp-websocket/stomp.min.js}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js" defer></script>
<script th:src="@{/js/chatbot/chat.js}" defer></script>
<!-- chat bot-->
<body>
<th:block layout:fragment="container"><!-- 각페이지의 컨텐츠  -->
    <div class="container">
        <div class="admin">
            <div class="left" th:replace="~{/common/adminLeft :: adminLeftFragment}"></div>
            <div class="right" th:replace="~{/common/adminRight :: adminRightFragment}"></div>
            <div class="chat" th:replace="~{/common/chatbot/chatBot :: chatBotFragment}"></div>
            <div layout:fragment="adminContainer">
                <!--        넣을 내용-->
                <div class="adminContainer">

                </div>
            </div>

        </div>
    </div>
</th:block>
</body>

</html>