<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout/adminLayout}">
<th:block layout:fragment="title">
    <title>상위부서</title>
</th:block>
<th:block layout:fragment="css">
</th:block>
<th:block layout:fragment="script">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js" defer></script>
    <script th:src="@{/js/department/weather.js}" defer></script>
</th:block>
<th:block layout:fragment="adminContainer">
    <div class="adminContainer">
        <div class="weather">
            <span class="nowtime"></span>
            <span>현재날씨</span>
            <h3>경기도</h3>
            <h3 class="SeoulIcon"></h3>
            <h3 class="SeoulNowTemp">현재기온:</h3>
            <h3 class="SeoulLowTemp">최저기온:</h3>
            <h3 class="SeoulHighTemp">최대기온:</h3>
        </div>
    </div>
</th:block>
</html>